<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <img src="./img/IMG_20190429_230123_690.jpg" alt="">
        {{!-- <script src="./js/ind.js"></script> --}}
    </head>
    <body>
        {{>header}}
        <h1>{{title}}</h1>
        <p>Created by {{ name}}</p>
        <h5>it is from dynamic file</h5>
    </body>
</html>